/* CSS를 적용하는 파일 */
.test-page__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  grid-row-gap: 20px;
}

.test-page__grid .test-page__grid-item {
  width: 100px;
  height: 100px;
  border: 1px black solid;
  transform: translateX(50%);
}

.test-page__grid .test-page__grid-item p {
  text-align: center;
  transform: translate(0, 100%);
}

.scene1__temp1 {
  position: fixed;
  top: 100px;
  left: 100px;
  transition: transform 0.5s;
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}

.scene1__temp1--before {
  transform: translate(100px, 0);
}

.scene1__temp1--after {
  transform: translate(100px, 100px);
}
